.mainContent {
  margin-top: 3.3em;
  padding: 2em;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  background-color: white;
}

.center {
  display: flex;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
  height: 90vh;
}

.login {
  margin: auto 0;
  text-align: center;
}

.googleLogo {
  margin-right: 1em;
}

.btnLogin {
  margin: auto 0!;
}

.imageLogo {
  width: 300px;
  height: 300px;
}

.imageLogoNavbar {
  object-fit: cover;
  width: 2.2em;
  height: 2.2em;
}

.btnNavbar {
  margin-right: 1em;
}
